<a href="http://deltaglobalstaffing.com/index.php">
  <div class="menu-item bk-darkred">HOME</div>
</a>
<a href="employers.html">
  <div class="menu-item bk-darkred">EMPLOYERS</div>
</a>
<a href="jobsearch.html">
  <div class="menu-item bk-darkred">JOB SEARCH</div>
</a>
<a href="http://deltaglobalstaffing.com/resources.php">
  <div class="menu-item bk-darkred">RESOURCES</div>
</a>
<a href="http://deltaglobalstaffing.com/news.php">
  <div class="menu-item bk-darkred">NEWS</div>
</a>
<a href="whoweare.html">
  <div class="menu-item bk-darkred">ABOUT US</div>
</a>
<a href="contactus.html">
  <div class="menu-item bk-darkred">CONTACT US</div>
</a>
<a href="http://deltaglobalstaffing.com/MyDGS_Entry/MyDGSHome.htm" target="_blank">
  <div class="menu-item bk-darkred">MY DGS</div>
</a>
<a href="http://tkdelta.vcgasp.com/timekeeper.web/pages/timekeeperlogin.aspx" target="_blank">
  <div class="menu-item bk-darkred">ETime LOGIN</div>
</a>