html {height:100%; background:#000f22;}
body {
	color:#FFF;	
	font:11px Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	background:#000f22 url(http://deltaglobalstaffing.com/images/bgr.jpg) repeat-x;
	min-height:100%;
	min-width:994px;
	behavior: url(http://deltaglobalstaffing.com/csshover.htc);

}

img, div { behavior: url(http://deltaglobalstaffing.com/iepngfix.htc); 
}

/* Common Parts */
a {text-decoration:underline; color:#333;}
a:hover {text-decoration:none;}
p {margin:0 0 15px;}
img {border:none;}

/* page styles */
#header	{
	width:930px;
	margin:0 auto;
}
#page-box {
	width:994px;
	margin:0 auto;
	overflow:hidden;
	background:url(http://deltaglobalstaffing.com/images/shadowbgr.png) no-repeat;
}

#nav {
	float: left;
	margin-top: 2px;
	width: 930px;
	background:url(http://deltaglobalstaffing.com/images/nav_bckgrnd.jpg) repeat-x;
}
#nav table	{
	float: right;

}
#contentholder {
	float: left;
	margin-left: 37px;
}
#rotatingAd1	{
	float: left;
	width: 930px;
}
br.clear {clear:both;}

#newsletter	{
	float: right;
	z-index: 100000;
}
#containerShell	{
	float: left;
	width: 930px;
	padding-top: 25px;
	background:url(http://deltaglobalstaffing.com/images/ads_bckgrnd.jpg) top left;
	height: 257px;
}
#containerShell2	{
	float: left;
	width: 930px;
	padding-top: 25px;
	background:url(http://deltaglobalstaffing.com/images/ads_bckgrnd2.jpg) top left;
	height: 207px;
}
#container1	{
	float: left;
	width: 276px;
	margin-left: 40px;
}
#container1Right	{
	float: right;
}

#container2	{
	float: left;
	width: 275px;
	margin-left: 12px;
}
#container3	{
	float: right;
	width: 275px;
	margin-right: 40px;
}
#footer	{
	float: left;
	width: 930px;
	background-color: #000f22;
	padding: 15px;
}
#footerCopyright	{
	width: 310px;
	float: left;
}
#footerLogos	{
	float: right;
	margin-right: 25px;

}


	