section{
	max-width: 960px;
	margin: 0 auto;
}

header {
	text-align: center;
}

article {
	border: 1px solid black;
	margin-bottom: 20px;
	padding: 20px 5px;
}

.iblock {
	vertical-align: top;
	margin-bottom: 10px;
}

.row {
	margin-bottom: 20px;
}

.line {
	height: 25px;
	font-size: 18px;
	width: 100%;
}

.button {
	cursor: pointer;
	color: blue;
}

/* Modern browser styles */

@media (min-width: 980px) {
	section {
		font-size: 20px;
	}

	.iblock {
		height: 22px;
		display: inline-block;
	}
	/* inputs lines */
	.line86 {
		width: 86%;
	}

	.line80 {
		width: 80%;
	}

	.line66 {
		width: 66%;
	}

	.line60 {
		width: 60.5%
	}

	.line59 {
		width: 59.5%;
	}

	.line52 {
		width: 52.5%;
	}

	.line39 {
		width: 39%;
	}

	.line26 {
		width: 26.5%;
	}
	/* --- */

	/* field labels */
	.name {
		width: 75%
	}

	.ssn {
		width: 24%
	}
	/* --- */
}