<article>
	<div class="row">
		<div class="iblock">NAME OF TEMPORARY SERVICE:</div>
		<input class="iblock line line66"/>
	</div>
	<div class="row">
		<div class="iblock">NAME OF COMPANY YOU WERE ASSIGNED TO:</div>
		<input class="iblock line line52"/>
	</div>
	<div class="row">
		<div class="iblock">POSITION(S) HELD:</div>
		<input class="iblock line line40"/>
		<div class="iblock">PAY RANGE:</div>
		<input class="iblock line line26"/>
	</div>
	<div class="row">
		<div class="iblock">JOB DUTIES:</div>
		<input class="iblock line line86"/>
	</div>
	<div class="row">
		<div class="iblock">DATES & LENGTH OF ASSIGNMENT(S):</div>
		<input class="iblock line line60"/>
	</div>
	<div class="row">
		<div class="iblock">SUPERVISOR'S NAME / TITLE AT ASSIGNMENT:</div>
		<input class="iblock line line52"/>
	</div>
	<div class="row">
		<div class="iblock">TELEPHONE NUMBER AT ASSIGNMENT:</div>
		<input class="iblock line line59"/>
	</div>
</article>