@import 'colors.css';

html { 
	height: 100%;
	background: #000f22;
}

body {
	color: #FFF;	
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding:0;
	min-height:100%;
	behavior: url(http://deltaglobalstaffing.com/csshover.htc);
}

img,
div { 
	behavior: url(http://deltaglobalstaffing.com/iepngfix.htc); 
}

/* Common Parts */
a,
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 15px;
}
img {
	border: none;
}

ul,
menu,
footer {
	margin: 0;
	list-style: none;
	padding: 0;
}

article {
	padding: 0 40px;
}

li.header-tag {
	text-align: left;
	margin: 0 auto;
	width: 200px;
}

li.header-tag span {
	position: relative;
	top: -10px;
	font-style: italic;
	font-size: 12px;
	font-family: Times New Roman;
	color: #999;
	display: block;
}

header	{
	text-align: center;
	margin-bottom: -4px;
	background: url(../images/elements/dgs_pg_bk.png);
}

.page-title {
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: verdana;
}

article p,
article h3 {
	font-size: 14px;
}

.menu-container {
	display: none;
}

.menu-button {
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	text-align: center;
	padding: 10px 3px 0;
}

menu {
	position: absolute;
	top: 0;
	width: 90%;
}

menu .menu-item {
	padding: 20px;
	border-right: 1px solid beige;
	border-bottom: 1px solid beige;
	text-align: center;
	color: gray;
	font-size: 18px;
	text-shadow: 1px 1px black;
}

.show {
	width: 80%;
	display: inline-block;
}

.promo-text {
	color: white;
	font-weight: bold;
	padding-top:30px;
	font-size: 12px;
	line-height: 25px;
}

.promo-image {
	text-align: center;
	margin: 0 auto;
}

.promo-image img {
	width: 150px;
}

/* page styles */
#container1	{
	float: left;
	width: 276px;
	margin-left: 40px;
}
#container1Right	{
	float: right;
}

#container2	{
	float: left;
	width: 275px;
	margin-left: 12px;
}
#container3	{
	float: right;
	width: 275px;
	margin-right: 40px;
}

footer {
	padding: 0 25px;
}

#footerCopyright,
#footerLogos {
	margin:0 0 15px 15px;
}

input {
	min-width: 200px;
	height: 20px;
	margin: 10px 0;
}
	