@import 'colors.css';

html { 
	height: 100%;
	background: #000f22;
}

body {
	color: #FFF;	
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding:0;
	background: #000f22 url(http://deltaglobalstaffing.com/images/bgr.jpg) repeat-x;
	min-height:100%;
	behavior: url(http://deltaglobalstaffing.com/csshover.htc);
}

img,
div { 
	behavior: url(http://deltaglobalstaffing.com/iepngfix.htc); 
}

/* Common Parts */
a,
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 15px;
}
img {
	border: none;
}

ul,
menu,
footer {
	margin: 0;
	list-style: none;
	padding: 0;
}

menu,
footer {
	max-width: 930px;
	margin: 0 auto;
}

article {
	max-width: 890px;
	margin: 0 auto;
	padding: 0 15px;
}

menu {
	overflow-y: scroll;
}

li.header-tag {
	text-align: left;
	margin: 0 auto;
	width: 200px;
}

li.header-tag span {
	position: relative;
	top: -10px;
	font-style: italic;
	font-size: 12px;
	font-family: Times New Roman;
	color: #999;
	display: block;
}

menu li {
	display: inline-block;
}

header	{
	text-align: center;
	margin-bottom: -4px;
}

#menu {
	border: 0px solid black;
	height: 54px;
	overflow-y: scroll;
}

.page-title {
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: verdana;
}

article p,
article h3 {
	font-size: 14px;
}

.promo-text {
	color: white;
	font-weight: bold;
	padding-top:30px;
	font-size: 12px;
	line-height: 25px;
}

/* Smartphones to Tablets */

@media (min-width: 481px) and (max-width: 767px) {

}

/* Tablets */

@media (min-width: 768px) and (max-width: 959px) {

}

/* Desktop --- */

/*@media (min-width: 960px) and (max-width: 1199px) {*/
	/* page styles */
	#header	{
		/*width:930px;
		margin:0 auto;*/
	}
	#page-box {
		/*width:994px;
		margin:0 auto;
		overflow:hidden;
		background:url(http://deltaglobalstaffing.com/images/shadowbgr.png) no-repeat;*/
	}

	#nav {
		/*float: left;
		margin-top: 2px;
		width: 930px;
		background:url(http://deltaglobalstaffing.com/images/nav_bckgrnd.jpg) repeat-x;*/
	}
	#nav table	{
		float: right;

	}
	#contentholder {
		float: left;
		margin-left: 37px;
	}
	#rotatingAd1	{
		/*float: left;
		width: 930px;*/
	}
	br.clear {clear:both;}

	#newsletter	{
		float: right;
		z-index: 100000;
	}
	#containerShell	{
		/*float: left;
		width: 930px;
		padding-top: 25px;
		background:url(http://deltaglobalstaffing.com/images/ads_bckgrnd.jpg) top left;
		height: 257px;*/
	}
	#containerShell2	{
		/*float: left;
		width: 930px;
		padding-top: 25px;
		background:url(http://deltaglobalstaffing.com/images/ads_bckgrnd2.jpg) top left;
		height: 207px;*/
	}
	#container1	{
		float: left;
		width: 276px;
		margin-left: 40px;
	}
	#container1Right	{
		float: right;
	}

	#container2	{
		float: left;
		width: 275px;
		margin-left: 12px;
	}
	#container3	{
		float: right;
		width: 275px;
		margin-right: 40px;
	}
	#footer	{
		/*float: left;
		width: 930px;
		background-color: #000f22;
		padding: 15px;*/
	}
	#footerCopyright	{
		float: left;
		margin-left: 15px;
	}
	#footerLogos	{
		float: right;
		margin-right: 25px;
	}
/*}*/

/* Large Display ---- */
/*
@media (min-width: 1200px) {

}
*/


	